{
    "plugins": [
        [
          "module-resolver",
          {
            "root": ["./src"],
            "alias": {
              "@/entitys": "./src/entitys"
            }
          }
        ]
      ]
}